@using TravelTripProje.Models.Sınıflar
@model List<İletişim>
@{
    ViewBag.Title = "MesajListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>MesajListesi</h2>

<table class="table table-bordered table-striped , table-hover , table-green">
    <tr>
        <th>ID</th>
        <th>Kulllanıcı adı</th>
        <th>Mail</th>
        <th>konu</th>
        <th>mesaj</th>
        <th>Sil</th>
        
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj </td>
            <td><a href="/Admin/MesajSil/@x.ID" class="btn btn-outline-danger">Sil</a></td>
            


        </tr>
    }

    </table>