@using TravelTripProje.Models.Sınıflar
@model List<Blog>

@*//Parial view blog alt*@

<div class="con-bot">
    @foreach (var x in Model)
     {
    <div class="left">
        <div class="bot-left">
            <img src="@x.BlogImage" style="width:320px; height:195px;" alt="" />
        </div>
        <div class="left-text">
            <h4>@x.Baslık</h4>
            <span class="doller">@x.Tarih.ToString("dd.MM.yyyy")</span>
            <p>@x.Acıklama.Substring(0, 10)   </p>
            <p><a href="/Blog/BlogDetay/@x.Id"><span class="read">Devamını Oku>></span></a></p>
        </div>
   </div> 
     }
    @Html.Action("Partial2","Default")

</div>
